name: Terraform Destroy
run-name: Terraform-Destroy

on:
  workflow_dispatch:

jobs:
  Terraform_Plan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set Up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.1
    
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: "eu-central-1"

      - name: Terraform Init
        run: terraform init

#      - name: Terraform Validate
#        run: terraform validate

      - name: Terraform Destroy
        run: terraform destroy -auto-approve
